<h1> Payment Calculation </h1>

<form action = "/random/results">
  <div>
    <label>
      Minimum
    </label>
    <input type = "text" name = "user_num">
    <div>
      <label>
        Maximum
      </label>
      <input type = "text" name = "user_num1">
    </div>
  </div>
  <button>Pick Random Number</button>
</form>
